
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.orig
*.orig.meta
#[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
#Icon?
ehthumbs.db
[Tt]humbs.db

# XCode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
# Pods - for those of you who use CocoaPods
Pods

# Unity created files in Xcode
Proj_iOS/Data
Proj_iOS/Libraries
Proj_iOS

Assets/UnityVS
Assets/UnityVS.meta
Assets/UniMerge
Assets/UniMerge.meta
Assets/ShaderForge
Assets/ShaderForge.meta
Assets/ShaderEditor
Assets/ShaderEditor.meta
Assets/Extensions/TexturePacker
Assets/Extensions/TexturePacker.meta
Assets/codeandweb.com/
Assets/codeandweb.com.meta
Assets/Editor
Assets/Editor.meta

*.apk
